.container {
    background: #eef5eb;
    border: 1px solid;
}
.border-style{
  border: 1px solid;
}
.block-1{
	border: 1px solid;
	height: 100px;
}
.block-1 h1{
	text-align: center;
}
.block-1 a{
	color: black;
	text-decoration-line: none;
	text-align: center;
}
.block-1 p{
	text-align: center;
	font-size: 12px;
}
.circle{
	width: 80px;
	height: 80px;
	background: #f99 no-repeat;
	border-radius: 40px;
	border: 1px solid #000;
	position: absolute;
	margin: 19px;
}
.circle p{
	font-size: 16px;
	margin: 26px auto;
}
.circle1{
	width: 279px;
	border: 1px solid #000;
	margin: 42px auto;
	float: right;
	text-align: center;
}
.circle1 p{
	font-size: 16px;
	margin: 5px;
}
.contacts {
  width: 380px;
  text-align: center;
  float: left;
}
.contacts a {
  float: right;
}
.contacts input {
  width: 95%;
  height: 30px;
  margin: 27px 0 0 0;
}
.contacts1{
	margin: 20px 80px 0 0;
}
.menu li {
    float: left;
    text-transform: uppercase;
    border-right: 1px solid;
    height: 50px;
}
.menu li:last-child {
    border: none;
}
.menu li a{
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  font-size: 24px;
}
.block-1 h1 strong{
	font-size: 40px;
}
.block-2{
	border: 1px solid;
}
.block-2 img{
	height: 300px;
	border: 1px solid;
}
.block-2 h2{
	float: left;
	font-size: 30px;
	width: 200px;
	margin: 20px 0 0 40px;
}
.block-2 a{
	float: right;
	font-size: 10px;
	padding: 11px;
}
.col-md-3 col-sm-12{
	height: 250px;
}
.block-4 h1{
	text-align: center;
}
li{
	text-align: left;
	list-style: none;
	font-size: 22px;
}
.circle2{
	width: 80px;
	height: 80px;
	background: #f99 no-repeat;
	border-radius: 40px;
	border: 1px solid #000;
	position: absolute;
	margin: 20px auto;
}
.circle2 p{
	font-size: 16px;
	margin: 16px auto;
	text-align: center;
}
.circle3{
	width: 186px;
	margin: 42px auto;
	float: right;
	text-align: center;
}
.circle3 p{
	font-size: 16px;
	margin: 5px;
}
.circle7{
	width: 80px;
	height: 80px;
	background: #f99 no-repeat;
	border-radius: 40px;
	border: 1px solid #000;
	position: absolute;
	margin: 130px auto;
}
.circle7 p{
	font-size: 16px;
	margin: 16px auto;
	text-align: center;
}
.circle8{
	width: 160px;
	margin: 42px auto;
	float: right;
	text-align: center;
}
.circle8 p{
	font-size: 16px;
	margin: 5px;
}
